@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
html {
    height: 100%;
    background-color: #B3C8CF;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #BED7DC;
}
nav img{
    margin: 30px;
    width: 40px;
    height: 40px;
}
nav a{
    font-size: x-large;
    font-weight: 700;
    font-family: sans-serif;
    margin-left: 300px;
    margin-right: 30px;
    color: black;
}
a {
    text-decoration: none;
}

footer {
    margin-top: auto;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    background-color: #21838e;
    color: rgb(23, 23, 23);
    font-family: sans-serif;
    display: block;
    height: fit-content;
}

footer img{
    width: 50px;
    height: 50px;

}

.section-form {
    margin: 20px 30%;
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px;
}

input[type=text] {
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
}

input[type=submit]{
    border-radius: 20px;
    background-color: rgb(10, 244, 228);
    margin: 10px;
}
.card {
    padding: 10px;
    text-align: center;
    margin: 0 20px 30px;
    background: linear-gradient(45deg, #c2cad7, #142b4f98);
    height: fit-content;
    width: 350px;
    border-radius: 30px;
}

.card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 20px auto 0px;
}

.card p {
    color: #0c0c0c;
    font-size: 30px;
    font-weight: 400;
    font-family: Rubik;
    line-height: 25px;
}
fieldset {
     margin: 20px 30px;
    display: flex;
    justify-content: center;
    margin: 10px,25%;
    flex-wrap: wrap;
}

table {
    margin: 10vh auto;
    border-collapse: separate;
}

thead {
    background-color: #9AC8CD;
}

th,
td {
    font-weight: bold;
    border: 3px solid;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}

tfoot {
    background-color: #3f4345cc;
}

thead,
tfoot {
    font-size: 20px;
}